<base href="<?=Phpr::$request->get_root_url().Phpr::$request->get_subdirectory() ?>" />
<?=Phpr_View::include_javascript('defaults', module_build('core')) ?>
<script>
<!--
application_root_dir = '<?=Phpr::$request->get_subdirectory() ?>';
phpr_root_dir = '<?=Phpr::$request->get_subdirectory().Phpr::$config->get("PHPR_URL") ?>/';
// -->
</script>

<!-- Theme -->
<link href="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/stylesheets/css/bootstrap.css" rel="stylesheet" />
<link href="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/stylesheets/css/theme.css" rel="stylesheet" />
<link href="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/stylesheets/css/extras.css" rel="stylesheet" />
<link href="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/extras/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />

<!-- Application -->
<script src="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/scripts/js/behaviors/autosize_behavior.js"></script>
<script src="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/scripts/js/behaviors/fullscreen_behavior.js"></script>
<script src="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/scripts/js/behaviors/search_behavior.js"></script>
<script src="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/scripts/js/behaviors/tray_behavior.js"></script>
<script src="modules/admin/themes/<?= Admin_Config::get_theme_id() ?>/assets/scripts/js/app.js"></script>

<!-- Core -->
<script src="modules/admin/assets/scripts/js/phpr.admin.js"></script>
<script src="modules/admin/assets/scripts/js/admin.js"></script>
<script src="modules/admin/assets/scripts/js/admin_page.js"></script>

<?=$this->load_resources() ?>
